*
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body
{
    height: 100%;
    scroll-behavior: smooth;
}

a:link, a:visited
{
    cursor: pointer;
    color: var(--text);
    text-decoration-line: none;
}

.container
{
    position: relative;
    width: 100%;
}

.container-center
{
    width: 75%;
    min-height: 70vh;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    display: block;
}

.container-center .container-titre, .container-center .container-cours
{
    align-items: center;
}

.container-titre
{
    height: 50px;
}

.container-titre .titre
{
    font-family: var(--general-font);
    font-weight: var(--ultra-bold);
    font-size: 34px;
}

.container-courses .courses-display
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: table;
    align-items: center;
    justify-content: space-between;
}

.courses-display .course-overall
{
    float: left;
    width: 33.33%;
    height: 30vh;
    padding: 5px;
    margin-bottom: 80px;
}

.courses-display a
{
    width: 100%;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    padding: 8px;
}

.course img
{
    width: 100%;
    height: 100%;
    margin-bottom: 12px;
}

.course-title
{
    font-family: var(--general-font);
    font-weight: var(--ultra-bold);
    font-size: 15px;
    margin-bottom: 12px;
}

.rating-and-price
{
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-and-price .rating, .rating-and-price .price
{
    align-items: center;
}

.rating-and-price .rating
{
    justify-content: flex-start;
}

.rating
{
    font-family: var(--general-font);
    font-weight: var(--ultra-bold);
    font-size: 15px;
}

.rating i
{
    color: var(--star);
    font-size: 14px;
    padding-left: 4px;
}

.rating-and-price .price
{
    justify-content: flex-end;
}

.price
{
    font-family: var(--general-font);
    font-weight: var(--ultra-bold);
    font-size: 16px;
    margin-right: 4px;
}